{% extends 'base.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/CSS/styles3.css' %}">
<section class="products">
    <h2>Featured Products</h2>
    <div class="product">
        <h3>Laptops</h3>
        <img src="{% static 'home/image/laptop1.jpeg' %}">
        <p>Discover our range of powerful laptops for all your needs, from gaming to professional use. 
           Featuring the latest processors, stunning displays, and sleek designs, our laptops provide 
           the perfect blend of performance and portability.</p>
    </div>
    
    <div class="product">
        <h3>Headphones</h3>
        <img src="{% static 'home/image/headphone1.jpeg' %}">
        <p>Immerse yourself in rich sound with our selection of headphones. Whether you prefer 
           over-ear, in-ear, or noise-canceling options, we have the perfect pair for every 
           audiophile. Enjoy unparalleled sound quality and comfort.</p>
    </div>

    <div class="product">
        <h3>iPhones</h3>
        <img src="{% static 'home/image/iphone1.jpeg' %}">
        <p>Stay connected with the latest iPhones. Featuring cutting-edge technology, stunning cameras, 
           and a user-friendly interface, our iPhones offer unmatched performance. Experience the 
           future of mobile technology in the palm of your hand.</p>
    </div>
</section>


{% endblock content %}