{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LOGA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/CSS/styles2.css' %}">
    <style>a{text-decoration: none;}</style>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <div class="nav-left">
                <p>LOGA</p>
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if not user.id %}<li><a href="{% url 'login' %}">Login</a></li>{% endif %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
                
                {% if user.id %}
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-success mt-1" type="submit">Logout</button>
                        </form>
                    </li>
                    
                    {% if user.is_superuser %}  <!-- Check if the user is a superuser -->
                        <li><a href="{% url 'index' %}" class="btn btn-warning">Manage</a></li>
                    {% endif %}
                {% endif %}

                <div class="search-container">
                    <form method="GET" action="{% url 'search_results' %}">
                        <button type="submit" class="search-button"><img src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000"></button>
                        <input type="text" id="search" name="search" placeholder="Search for products..." required>
                    </form>
                </div>
            </div>

            <div class="nav-right">
                <li class="icon-container">
                    <a href="{% url 'wishlist_view' %}">
                        <img src="https://img.icons8.com/?size=100&id=37975&format=png&color=000000" alt="Favorites">
                    </a>
                    <div class="details">Your wishlist items</div>
                </li>
                
                <li class="icon-container">
                    <a href="{% url 'cart_view' %}">
                        <img src="https://img.icons8.com/?size=100&id=9720&format=png&color=000000" alt="Cart">
                    </a>
                    <div class="details">Items in your cart</div>
                </li>
                
                <li class="icon-container">
                    {% if user.id %}
                    <a href="{% url 'profile' %}">
                        <img src="https://img.icons8.com/?size=100&id=14736&format=png&color=000000" alt="Profile">
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <img src="https://img.icons8.com/?size=100&id=14736&format=png&color=000000" alt="Profile">
                    </a>
                    {% endif %}
                    <div class="details">Manage your profile</div>
                </li>
            </div>
        </ul>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>

    <footer>
        <div class="big">
            <div class="container2">
                <section class="bod">
                    <p class="bolda">Support</p>
                    <p class="moka">112 Dokki, Giza, Egypt</p>
                    <p class="moka">loga125outlook@gmail.com</p>
                    <p class="moka">+201026874915</p>
                </section>
                <section class="bod">
                    <p class="bolda">Account</p>
                    <div class="linko">
                        <a href="">My Account</a>
                        <a href="">Cart</a>
                        <a href="">Favourite List</a>
                    </div>
                </section>
                <section class="bod">
                    <p class="bolda">Quick List</p>
                    <div class="linko">
                        <a href="">Terms Of Use</a>
                        <a href="">Privacy And Policy</a>
                    </div>
                </section>
            </div>
            <div class="container">
                <p class="loka"><img src="https://img.icons8.com/?size=100&id=4bFprD-dLuxb&format=png&color=000000"></p>
                <p>Follow us on:
                    <div class="flex">
                        <img src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="Facebook" class="lokak">
                        <img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" alt="Twitter" class="lokak">
                        <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="Instagram" class="lokak">
                        <img src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000" alt="LinkedIn" class="lokak">
                    </div>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
