{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'account/CSS/styles2.css' %}">

    <h1 class="lkp">Login</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

   <p class="nbh"> dont have an account? you can create one from <a href="{% url 'signup' %}"> HERE </a></p>

{% endblock content %}
