{% extends 'base.html' %}
{% load static %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'account/CSS/styles.css' %}">

    <h1 class="loma">Signup</h1>
    <form method="POST" enctype="multipart/form-data" class="fakonak">
        {% csrf_token %}
        <h2 class="loma">User Information</h2>
        {{ user_form.as_p }}
        
        <h2 class="loma">Address Information</h2>
        {{ address_form.as_p }}
        
        <h2 class="loma">Payment Information</h2>
        {{ payment_form.as_p }}
        
        <button type="submit" class="bakonak">Signup</button>
    </form>
    {% endblock content %}