{% extends 'base.html' %}
{% load static %}

{% block title %}
cart Items
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/CSS/styles.css' %}">
<div class="best-selling-section"> 
    <h2>cart items</h2>
    <a href="{% url 'home_page' %}" class="view-all-btn btn">Back</a>
</div>
<div class="products">
    {% if products %}
        {% for product in products %}
        <div class="product-card">
            <div class="details">{{ product.desc }}</div>
            <div class="product-image">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'images/default-product-image.png' %}" alt="No Image Available">
                {% endif %}
            </div>
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p class="price">${{ product.price }}</p>
                {% if product.old_price %}
                    <p class="old-price">${{ product.old_price }}</p>
                {% endif %}
                <p class="description">{{ product.description }}</p>
                <div class="rating">
                    <span class="stars">⭐⭐⭐⭐⭐</span>
                    <span class="reviews">({{ product.reviews_count }})</span>
                </div>
            </div>
        </div>
        <div>
        <a class="add-to-cart-btn" href="{% url 'remove_from_cart' product_id=product.id %}">remove</a>
    </div>
        {% endfor %}
    {% else %}
        <p>No products found in the cart.</p>
    {% endif %}
    
</div>
{% endblock content %}
