{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'account/CSS/styles3.css' %}">

<h1>{{ user.first_name }}'s Profile</h1>

<form method="POST" enctype="multipart/form-data" class="profile-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="update-button">Update Profile</button>
</form>

<!-- Log Out Button -->
<form method="POST" action="{% url 'logout' %}" class="logout-form">
    {% csrf_token %}
    <button type="submit" class="logout-button">Log Out</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>User Information</h2>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p>
<p><strong>Address:</strong> {{ user.address }}</p>
<p><strong>Telephone:</strong> {{ user.telephone }}</p>
{% if user.image %}
<img src="{{ user.image.url }}" alt="{{ user.username }}'s Image" />
{% endif %}
{% endblock content %}
