{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LOGA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/CSS/styles2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
</head>
<body>
    <link rel="stylesheet" href="{% static 'home/CSS/styles2.css' %}">
    
    <nav>
       
        <ul>
            <div class="nav-left">
                <p>LOGA</p>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Contact</a></li>
                <div class="search-container">
                    <form method="GET" action="{% url 'search_results' %}">
                        <button type="submit"  class="search-button"><img src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000"></button>
                        <input type="text" id="search" name="search" placeholder="Search for products..." required>
                        
                    </form>
                </div>
               

            </div>
            <div class="nav-right">
                <li class="icon-container">
                    <a href="#">
                        <img src="https://img.icons8.com/?size=100&id=37975&format=png&color=000000" alt="Favorites">
                    </a>
                    <div class="details">Your favorite items</div>
                </li>
                
                <li class="icon-container">
                    <a href="#">
                        <img src="https://img.icons8.com/?size=100&id=9720&format=png&color=000000" alt="Cart">
                    </a>
                    <div class="details">Items in your cart</div>
                </li>
                
                <li class="icon-container">
                    <a href="#">
                        <img src="https://img.icons8.com/?size=100&id=14736&format=png&color=000000" alt="Profile">
                    </a>
                    <div class="details">Manage your profile</div>
                </li>
            </div>
        </ul>
    </nav>

    
    <div class="container mt-4">
        
        {% block content %}

    

    {% endblock content %}
    </div>

  
    <footer>
   
        <div class="big">
            <div class="container2">
                <section class="bod">
                    
                        <p class="bolda">Support</p>
                        <p  class ="moka">112 Dokki, Giza, Egypt</p>
                        <p class ="moka">loga125outlook@gmail.com</p>
                        <p class ="moka">+201026874915</p>
                   
                </section>
                <section class="bod">
                    <p class="bolda">Account</p>
                    <div class="linko">
                        <a href="">My Account</a>
                        <a href="">Cart</a>
                        <a href="">Favourite List</a>
                    </div>
                </section>
                <section class="bod">
                    <p class="bolda">Quick List</p>
                    <div class="linko">
                        <a href="">Terms Of Use</a>
                        <a href="">Privacy And Policy</a>
                    </div>
                </section>
            </div>
            <div class="container">
                <p class="loka"><img src="https://img.icons8.com/?size=100&id=4bFprD-dLuxb&format=png&color=000000"></p>
                <p>Follow us on:
                    <div class="flex">
                        <img src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="Facebook" class="lokak">
                        <img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" alt="Twitter" class="lokak">
                        <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="Instagram" class="lokak">
                        <img src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000" alt="LinkedIn" class="lokak">
                    </div>
                </p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
</body>
</html>
